<footer class="footer-border">
  <nav class="footer-container">EQUIPO GRIFO © 2022</nav>

  <div class="-who-we-are-contact">
    <ul class="footer-links">
      <li>
        <a class="link-to" href="#equipo">EQUIPO</a>
      </li>
      <li>
        <a class="link-to" href="#quienes_somos">QUÉNES SOMOS</a>
      </li>
      <li><a class="link-to" href="contacto.html">CONTACTO</a></li>
    </ul>
  </div>

  <img class="logo-adalab" src="./assets/images/logo-adalab.png" />
</footer>