<header class="header">
  <h1 class="header__title">Equipo Grifo</h1>
  <nav>
    <ul class="header__menu">
      <li>
        <a class="header__menu--link" href="@@menulink_team" title="Equipo"
          >Equipo</a
        >
      </li>
      <li>
        <a
          class="header__menu--link"
          href="@@menulink_whoweare"
          title="Quiénes Somos"
          >Quiénes Somos</a
        >
      </li>
      <li>
        <a class="header__menu--link" href="contacto.html" title="Contacto"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
