<article class="member">
    <img
      class="member_img"
      src="./assets/images/@@images"
      alt="@@alt"
    />
    <h3 class="member_name">@@name</h3>
    <p class="member_description">
     @@member_description
    </p>
    <ul class="rrss">
      <li class="rrss_item">
        <a
          class="links"
          href="@@twitter"
          target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li class="rrss_item_point">•</li>
      <li class="rrss_item">
        <a
          class="links"
          href="@@linkedin"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </li>
      <li class="rrss_item_point">•</li>
      <li class="rrss_item">
        <a
          class="links"
          href="@@github"
          target="_blank"
          ><i class="fab fa-github-alt"></i
        ></a>
      </li>
      <li class="rrss_item_point">•</li>
      <li class="rrss_item">
        <a
          class="links"
          href="@@mail"
          target="_blank"
          ><i class="fas fa-envelope"></i
        ></a>
      </li>
    </ul>
  </article>