<article class="member @@class">
  <img class="member__img" src="./assets/images/@@images" alt="@@alt" />
  <div>
    <h3 class="member__name">@@name</h3>
    <p class="member__description">@@member_description</p>
    <nav>
      <ul class="member__rrss">
        <li class="member__rrss—-item">
          <a class="member__rrss—-item_links" href="@@twitter" target="_blank"
            ><i class="member__rrss--twitter fab fa-twitter"></i
          ></a>
        </li>
        <li class="member__rrss—-item_point">•</li>
        <li class="member__rrss—-item">
          <a class="member__rrss—-item_links" href="@@linkedin" target="_blank"
            ><i class="member__rrss--linkedin fab fa-linkedin-in"></i
          ></a>
        </li>
        <li class="member__rrss—-item_point">•</li>
        <li class="member__rrss—-item">
          <a class="member__rrss—-item_links" href="@@github" target="_blank"
            ><i class="member__rrss--github fab fa-github-alt"></i
          ></a>
        </li>
        <li class="member__rrss—-item_point">•</li>
        <li class="member__rrss—-item">
          <a class="member__rrss—-item_links" href="@@mail" target="_blank"
            ><i class="member__rrss--email fas fa-envelope"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</article>
