<section>
  <article class="team" id="equipo">
    <h2 class="team__title">Equipo</h2>
    <div class="team__description">
      <p>
        Somos 5 leonas, hemos coincidido en un momento de la vida en el
        necesitábamos un cambio, y ahora estamos en ello.
      </p>
      <p>
        Nos hemos llamado el equipo grifo porque nos parece un ser fuerte y
        bello a la vez, y eso es lo que queremos llegar a ser entre todas.
      </p>
    </div>
  </article>
  <div class="rombo"></div>
  <article class="strenghts_weakness">
    <div class="strenghts">
      <h3 class="strenghts_weakness__title">Fortalezas</h3>
      <p class="strenghts_weakness__text">
        Desde el primer momento en que nos conectamos, congeniamos entre todas,
        compartimos objetivos y luchamos por ellos. Nos ayudamos las unas a las
        otras, compartimos el código y entre todas lo escribimos. Somos
        autónomas, y nos encanta buscar infadormación y compartirla. Nos
        apoyamos las unas a las otras porque nos caracteriza el ser positivas. Y
        aunque la presión a veces puede con nosotras, al final siempre hay una
        palabra de aliento para quien la necesite.
      </p>
    </div>
    <div>
      <h3 class="strenghts_weakness__title">Debilidades</h3>
      <p class="strenghts_weakness__text">
        Sabemos que no tenemos experiencia, y debido a ello a veces nos falta la
        confianza para llegar a nuestras metas. Además, no sabemos cómo
        acabaremos después de esto, si habernos reinventado habrá sido la
        solución. Pero nos apoyamos las unas en las otras y al final nos
        fortalecemos para sacar lo mejor de nosotras mismas. Somos demasiado
        perfeccionistas, y lo vemos como una debilidad porque al final nos
        exigimos demasiado, pero trabajaremos sobre nuestras debilidades juntas
        para convertirlas en fortalezas.
      </p>
    </div>
  </article>
</section>
