<section class="who_we_are" id="quienes_somos">
    <h1 class="we_title">QUIÉNES SOMOS</h1>
    <div class="member_list">
     <include src="./members.html" name="Lucía Acuña Ruadas" images="Lucia.jpg" alt="Lucía Acuña Ruadas" member_description="Auxiliar administrativa que por falta de trabajo en mi sector y en una situación difícil, tomé esta arriesgada decisión que ya está cambiando mi vida para siempre y que me convertirá en programadora front-end. Nueva profesión. Nuevas metas. Nuevos sueños." twitter="https://twitter.com/ruadasLucia" linkedin="https://www.linkedin.com/in/luc%C3%ADa-acu%C3%B1a-ruadas-9b3888143/" github="https://github.com/ruadaslucia" mail="mailto:ruadaslucia@gmail.com">
     </include>


     <include src="./members.html" name="Marta Torres Burguillo" images="Marta.jpg" alt="Marta Torres Burguillo" member_description="Diseñadora de moda, me gradué y reboté de un contrato basura a
     otro, decidí montar mi propia empresa e hice una tienda on line,
     por aquel entonces no imaginaba que fuera capaz de poder programar
     y acabé de dependienta. Pero sabía que eso no era lo quería así
     que busqué, y decidí estudiar en la UNED trabajo social, mientras
     seguía trabajando. Pero siempre he tenido el gusanillo de la
     programación, ahora he decido que ya era hora de dar el paso." twitter="https://twitter.com/burguimarta" linkedin="https://www.linkedin.com/in/marta-torres-burguillo/" github="https://github.com/burguimarta" mail="mailto:martatcr@gmail.com">
    </include>

   
    <include src="./members.html" name="Carmen Castro Sánchez" images="Carmen.jpg" alt="Carmen Castro Sánchez" member_description="Con 11 años de experiencia en E-commerce decidí reinventarme como
    programadora Front-end. Me encantan los retos y trabajo duro para
    conseguirlos, soy muy analítica y me encanta aportar soluciones.
    Positiva, comunicativa y determinada. 🐎 Horse lover y muy
    aventurera. 🌍He vivido en Londres y Bratislava, ahora mismo vivo
    en Bucarest." twitter="https://twitter.com/CarmenC51600212" linkedin="https://www.linkedin.com/in/carmen-castro-5231591a2/" github="https://github.com/Carmenyo" mail="mailto:carmencastroyo@gmail.com">
   </include>

  
   <include src="./members.html" name="Iris Mireya Zuñel Ballesteros" images="Iris.jpg" alt="Iris Mireya Zuñel Ballesteros" member_description= "Técnico en Protocolo, estudiante en standby de Criminología y ex
   secretaria de dirección. Un importante giro de guión en mi vida me
   lleva a este camino de renovación personal, con el fin de
   adaptarme a la actualidad del mundo y participar positivamente de
   él." twitter="https://twitter.com/IrisMireyazb" linkedin="https://www.linkedin.com/in/iris-zunel-ballesteros" github="https://github.com/IrisMireya" mail="mailto:irismzb_86@hotmail.com">
  </include>
    
    
  <include src="./members.html" name="Carlota Blanco" images="Carlota.jpg" alt="Carlota Blanco Aylagas" member_description= " Diseñadora gráfica, con 10 años de experiencia diseñando sobre
  papel, he decidido cambiar el chip y apostar por el mundo digital
  para dar rienda suelta a toda mi creatividad. Con esfuerzo y tesón
  ¡lo conseguiré!" twitter="https://twitter.com/carlotablnc" linkedin="https://www.linkedin.com/in/carlotablancoaylagas/" github="https://github.com/CarlotaBlanco" mail="mailto:carlotablancoa@gmail.com">
 </include>
 
    </div>
  </section>