$black: #000;
$light-grey-blue: rgba(184, 184, 185, 0.1);
$black-8: rgba(0, 0, 0, 0.08);
$cool-grey: #b8b8b9;
$cool-grey-2: rgba(184, 184, 185, 0.2);
$dark-grey: #54585a;
$blue-green: #099d8d;
$blue-green-9: rgba(9, 157, 141, 0.9);
$aqua: #14d9c4;
$aqua-5: rgba(20, 217, 196, 0.5);
$white: white;
$white-7: rgba(255, 255, 255, 0.7);
