.hero_contact {
  background-image: url(../images/Grifo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  height: 421px;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #7e7e7e;
  padding: 15px;
}
fieldset {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
label {
  margin-bottom: 10px;
}
button {
  background-color: $blue-green;
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
}
textarea {
  resize: none;
  padding: 15px;
}
.asterisk {
  color: $aqua;
}



.main {
  padding: 30px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  &__contact {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    color: $blue-green;
    text-transform: uppercase;
    padding-bottom: 15px;
    text-align: center;
    }
    
    &__text {

      text-align: center;
    }
    
    &__text2 {
    padding-top: 30px ;
    font-size: small;
    padding-bottom: 58px;
    text-align: center;
    }

   


    @media all and (min-width: 1200px) {

      .react {
      display: flex;
      justify-content: space-between;
      width: 100%;
      
        &__email {
        margin-right: 45px;
        width: 395px;
        }

        &__phone {
          width: 162px;
          }
      }
    }

  }   



