* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --black-8: rgba(0, 0, 0, 0.08);
  --cool-grey: #f1f1f1;
  --dark-grey: #54585a;
  --blue-green: #099d8d;
  --blue-green-9: rgba(9, 157, 141, 0.9);
  --aqua: #14d9c4;
  --aqua-5: rgba(20, 217, 196, 0.5);
  --white: white;
}
/*Header*/

.header {
  width: 100%;
  font-family: "Rubik", sans-serif;
  text-align: center;
  line-height: 2.5;
  color: var(--white);
  background-color: var(--blue-green-9);
  position: fixed;
  top: 0%;
  z-index: 2;
}

.menu {
  background-color: var(--aqua-5);
  font-family: "Rubik", sans-serif;
  color: var(--white);
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.menu_link {
  color: var(--white);
  text-decoration: none;
}
.hero {
  position: relative;
  top: 0;
}
.hero_img {
  width: 100%;
}
/*Section Quienes somos*/
.who_we_are {
  padding: 30px 10px 0 10px;
}
.we_title {
  color: var(--blue-green);
  font-family: "Rubik", sans-serif;
  text-align: center;
}
.member_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.member {
  text-align: center;
  padding: 30px 0 0 0;
}

.member_name {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 5px 0;
  color: var(--black);
}
.member_img {
  width: 180px;
  margin: 0 55px 15px;
  border-radius: 4px;
  border: solid 5px var(--black-8);
}
.member_description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-grey);
}

.rrss {
  list-style-type: none;
  margin: 20px 0;
}

.rrss_item {
  display: inline-block;
}
.links {
  color: var(--blue-green);
  text-decoration: none;
  font-family: "Font Awesome 5 Free";
}
.rrss_item_point {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  display: inline-block;
  color: var(--blue-green);
  font-size: 10px;
}

/*Footer*/

.footer-border {
  border: solid 2px var(--cool-grey);
}

.footer-container {
  background-color: white;
  color: #b8b8b9;
  display: flex;
  justify-content: center;
  height: fit-content;

  padding-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
footer {
  font-family: "Open Sans", sans-serif;
}
.footer-who-we-are {
  font-family: Arial, Helvetica, sans-serif;
}

.footer-links {
  font-size: 14px;
  display: block;
  justify-content: center;
  text-align: center;
  color: #54585a;
  margin-bottom: 30px;
}
.logo-adalab {
  width: 150px;
  height: 50px;
  display: block;
  justify-content: center;
  margin-bottom: 30px;
}
